[Install]
WantedBy=multi-user.target


[Unit]
Description=${APP_NAME}
After=network.target

[Service]
User=appuser
Group=hsykapp
WorkingDirectory=${CONFIG_FOLDER}
ExecStart=${CMD}
Restart=always
StandardOutput=null
StartLimitIntervalSec=0


[Install]
WantedBy=multi-user.target